.cardContainer {
    position: relative;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer h2 {
    text-align: center;
}

.cardBackground {
    background-color:black;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    z-index: -1;
}

.semesterContainer, .examContainer, .jsContainer {
    display: none;
}

.git {
    padding: 0.5em;
}

@media only screen and (min-width: 600px) {
    .semesterContainer, .examContainer, .jsContainer {
        padding: 2em;
    }
}